---
import MainLayout from "../../layouts/MainLayout.astro";
import MainPost from "../../components/Card/MainPost.astro";
import TwitchShowCard from "../../components/TwitchShowCard.jsx";
import SocialCard from "../../components/SocialCard.jsx";
import { formatBlogPosts, slugify } from "../../js/utils";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import ButtonSocial from "../../components/ButtonSocial";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const allPosts = await Astro.glob("./blog/*.mdx");
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
  limit: null,
});

const latestPost = formattedPosts[0];
const { frontmatter } = Astro.props;
const { title } = latestPost.frontmatter;
const postUrl = `/${lang}/blog/${slugify(title)}`;
---

<MainLayout title="npmBytes">
  <main class="font">
    <section class="bg-gray-900 bg-[url('/images/hero-pattern-dark.svg')] relative">
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
        <a href={postUrl} class="group inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm rounded-full bg-gray-900 text-violet-300 hover:bg-gray-800">
          <span class="text-xs bg-npm-blue rounded-full text-white px-4 py-1.5 mr-3 animate-pulse">
            {t('home.new')}
          </span>
          <span class="text-sm font-medium">
            {title}
          </span>
          <svg aria-hidden="true" class="ml-2 w-5 h-5 group-hover:rotate-90 ease-in duration-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"clip-rule="evenodd"></path>
          </svg>
        </a>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white">
          {t('home.slogan')}
        </h1>
        <p class="mb-8 text-lg font-normal lg:text-xl sm:px-16 lg:px-48 text-gray-200">
          {t('home.newsletter')}
        </p>
        <form class="w-full max-w-md mx-auto" method="post" action="/api/subscribe">
          <label for="default-email" class="mb-2 text-sm font-medium sr-only text-white">
            {t('home.label-form')}
          </label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
              </svg>
            </div>
            <input type="email" id="email" name="email" class="block w-full p-4 pl-10 text-sm border rounded-lg bg-gray-900 border-gray-800 placeholder-gray-400 text-white focus:bg-black focus:border-gray-900" placeholder={t('home.placeholder-form')} required/>
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 bg-npm-blue hover:bg-npm-hover-blue">
              {t('home.button-form')}
            </button>
          </div>
        </form>
      </div>
      <div class="bg-gradient-to-b from-npm-blue to-transparent w-full h-full absolute top-0 left-0 z-0"></div>
    </section>
    <section class="m-auto px-5 lg:px-20 py-10">
      <h1 class="flex font-extrabold text-4xl p-10">{t('home.new-moment')}</h1>
      <div class="m-auto grid grid-cols-1 md:grid-cols-2 md:gap-10 max-w-4xl px-5">
        {
          formattedPosts
              .slice(0,4)
              .map((post) => (
                  <MainPost key={postUrl} post={post} />
              ))
        }
      </div>
      <div class="flex justify-center p-4">
        <a href=`/${lang}/blog`><div class="rounded-lg text-sm px-4 py-2 bg-npm-blue hover:bg-npm-hover-blue focus:ring-4 focus:outline-none font-medium ease-in-out duration-300">{t("home.button-more")}</div></a>
      </div>
    </section>
    <section class="m-auto py-10 bg-white/10 flex flex-col lg:flex-row justify-center gap-x-5">
      <div class="flex justify-center items-center p-10 max-w-lg">
        <div>
          <p class="font-bold text-3xl">{t('twitch.title')}</p>
          <p class="mt-2">
            {t('twitch.description')}<br/>
            {t('twitch.date')} <br/>
            <a href="https://www.twitch.tv/npmbytes">
              <div class="rounded-lg text-sm px-4 py-2 bg-npm-blue hover:bg-npm-hover-blue focus:ring-4 focus:outline-none font-medium ease-in-out duration-300 w-fit mt-4">
                <div class="flex items-center justify-center gap-x-2">
                  <svg viewBox="-0.5 0 20 20" version="1.1" class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"  fill="#ffffff">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-141.000000, -7399.000000)" fill="#ffffff">
                          <g id="icons" transform="translate(56.000000, 160.000000)">
                            <path d="M97,7249 L99,7249 L99,7244 L97,7244 L97,7249 Z M92,7249 L94,7249 L94,7244 L92,7244 L92,7249 Z M102,7250.307 L102,7241 L88,7241 L88,7253 L92,7253 L92,7255.953 L94.56,7253 L99.34,7253 L102,7250.307 Z M98.907,7256 L94.993,7256 L92.387,7259 L90,7259 L90,7256 L85,7256 L85,7242.48 L86.3,7239 L104,7239 L104,7251.173 L98.907,7256 Z" id="twitch-[#ffffff]"></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                  <p>
                    {t('twitch.button')}
                  </p>
                </div>
              </div>
            </a>
          </p>
        </div>
      </div>
      <div class="lg:px-0 px-5">
        <TwitchShowCard client:load />
      </div>
      
    </section>
    <section >
      <div class="py-10">
        <div class="flex flex-col lg:flex-row justify-center items-center lg:gap-x-72 gap-10 lg:gap-0">
          <SocialCard client:load/>
          <div class="max-w-lg px-10 pb-10 lg:pb-0 flex flex-col justify-center lg:justify-normal">
            <p class="font-bold text-3xl">{t('socials.title')}</p>
            <p class="mt-2">
              {t('socials.description')}<br/>
            </p>
            <ButtonSocial client:load/>
        </div>
        </div>
        
      </div>
      
    </section>
  </main>
</MainLayout>


