---
// component imports
import MainLayout from "../../../layouts/MainLayout.astro";
import CardPost from "../../../components/CardPost.astro";

// utils
import { slugify, formatBlogPosts } from "../../../js/utils";

const pages = [
  {
    slug: "annoncement",
    props: { name: "Annoncement" },
  },
  {
    slug: "ai",
    props: { name: "AI" },
  },
  {
    slug: "web",
    props: { name: "Web" },
  },
  {
    slug: "security",
    props: { name: "Security" },
  },
];

const { name } = pages.find((page) => page.slug === category).props;

const { category } = Astro.params;

const allPosts = await Astro.glob("../blog/*.mdx");
const formattedPosts = formatBlogPosts(allPosts);

const catPosts = formattedPosts.filter(
  (post) => slugify(post.frontmatter.category) === category
);
---

<MainLayout title={name}>
  <section class="container" aria-label={`Posts about ${name}`}>
    <h1 class="h1">Posts about<span>{name}</span></h1>
    <div class="post-container">
      {catPosts.map((post) => <CardPost url={post.url} post={post} />)}
    </div>
  </section>
</MainLayout>
