---
// component imports
import MainLayout from "../../../layouts/MainLayout.astro";
import CardPost from "../../../components/Card/CardPost.astro";

// utils
import { slugify, formatBlogPosts } from "../../../js/utils";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const pages = [
  {
    slug: "annoncement",
    props: { name: "Annoncement" },
  },
  {
    slug: "ai",
    props: { name: "AI" },
  },
  {
    slug: "web",
    props: { name: "Web" },
  },
  {
    slug: "security",
    props: { name: "Security" },
  },
];
const { category } = Astro.params;
const { name } = pages.find((page) => page.slug === category).props;
const allPosts = await Astro.glob("../blog/*.mdx");
const formattedPosts = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter(
  (post) => slugify(post.frontmatter.category) === category
);
---

<MainLayout title={name}>
  <section class="w-full" aria-label={`Posts about ${name}`}>
    <div class="bg-gradient-to-b from-npm-blue to-transparent ">
      <p class="font-bold text-lg py-20 text-center ">{t('category.title')} <span>{name}</span></p>
    </div>
    <div class="post-container">
      {
        catPosts.map((post) => (
          <CardPost
            key={post.url} post={post}
          />
        ))
      }
    </div>
  </section>
</MainLayout>
