---
const { post } = Astro.props;
// utils imports
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { slugify } from "../../js/utils";
const { title, image, description, minutesRead} = post.frontmatter;
const postUrl = `/${lang}/blog/${slugify(title)}`;

---


<article class= "flex flex-col m-auto bg-white/20 hover:bg-white/10 bg-opacity-10 w-full my-4 transition-all duration-500 ease-in-out rounded-lg hover:scale-95 py-4 px-4" >
  <a href={postUrl}>
    <img class="block m-auto max-w-full max-h-full object-contain object-center py-2" src={image.src} alt={image.alt} /> 
  </a>
  <div class="max-w-full px-2">
    <div class="flex flex-col">
      <a href={postUrl}>
        <p class="text-white cursor-pointer text-xl font-semibold ease-in-out duration-700 hover:text-[#c5c5c5]">
        {title}
        </p>
      </a>
      <div class="flex items-center py-2">
        <i class="fa-solid fa-book-open-reader" style="color: #c7c7c7;"></i>
        <p class=" ml-2 md:text-sm lg:text-xs text-[#c7c7c7]">{minutesRead} {t('blog.readtime')}</p>
      </div>
    </div>
    <p class="text-[#c7c7c7] text-sm lg:text-xs ">{description}</p>
  </div>
</article>
  


