---
const { post } = Astro.props;

// utils imports
import { slugify, formatDate } from "../js/utils";
import { getDaysSince } from "../js/utils";
const { category, title, date, image, minutesRead } = post.frontmatter;
const postUrl = `/blog/${slugify(title)}`;
const categories = category.split(",");
const daysSincePublication = getDaysSince(date);
const isNewPost = daysSincePublication <= 6;
---

<div class="post">
  <article class="card">
    <div class="container">
      {
        isNewPost && (
          <div class="news-vignette">
            <span class="news-vignette-text">New!</span>
          </div>
        )
      }
      <a href={postUrl}>
        <img class="main-image" src={image.src} alt={image.alt} />
      </a>
    </div>
    <div class="out-card">
      <a href={postUrl}
        ><p class="title">
          {title.length > 50 ? `${title.slice(0, 50)}...` : title}
        </p></a
      >

      <div class="categories-time">
        {
          categories.map((cat) => (
            <small>
              <a href={`/category/${slugify(cat)}/`} class="badge">
                {cat.trim()}
              </a>
            </small>
          ))
        }

        <div class="reading-time">
          <i class="fa-solid fa-book-open-reader" style="color: #6c757d;"></i>
          <p>{minutesRead} min</p>
        </div>
      </div>
    </div>
  </article>
</div>
<style>
.news-vignette {
  background-color: transparent;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: white;
  font-size: 12px;
  z-index: 3;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
  animation: blink-border 3s ease-in infinite;
}

@keyframes blink-border {
  0% {
    border-color: rgb(255, 255, 255);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

  .post {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50vw;
    padding: 2.5vh;
    min-width: 40vh;
  }
  .card {
    border-radius: 5px;
    max-width: 25vw;
    margin: 16px auto;
    padding: 1px;
    min-width: 40vh;
  }
  .container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .container {
    position: relative;
    max-height: 50vh;
    min-height: 30vh;
    min-width: 40vh;
    border: 1px solid;
    border-color: #552bff;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    flex-direction: column;
  }

  .small {
    font-size: 80%;
  }

  .badge {
    display: inline-block;
    justify-content: right;
    background-color: #562bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    font-size: 14px;
    margin-right: 5px;
  }

  .badge:hover {
    background-color: #260a96a9;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    margin-bottom: 16px;
    color: #6c757d;
  }

  .main-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
  }

  .categories-time {
    display: flex;
    align-items: center;
    margin-top: auto;
  }
  .reading-time {
    margin-left: auto;
  }
  .reading-time p {
    font-size: 14px;
  }
  .description {
    text-align: left;
    overflow: hidden;
  }
  .fa-sharp {
    font-size: 15px;
    margin-right: 5px;
    color: #ffffff;
  }

  .out-card {
    max-width: 50vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  @media screen and (max-width: 768px) {
    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .badge {
      font-size: 0.8rem;
      margin-right: 0.5rem;
    }

    .reading-time p {
      font-size: 1rem;
    }

    .fa-sharp {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
    .post {
      padding: 0;
      max-width: 90%;
    }
  }
</style>
