---
const { post } = Astro.props;

import { Image } from "@astrojs/image/components";
// utils imports
import { slugify, formatDate } from "../js/utils";
const { category, title, author, date, image, description } = post.frontmatter;
const postUrl = `/blog/${slugify(title)}`;
const categories = category.split(',')

---
<article class="card">
  <div class="container">
    {categories.map((cat) => (
      <small>
        <a href={`/category/${slugify}/`} class="badge">{cat.trim()}</a>
      </small>
    ))}
    <img src={image.src} alt={image.alt} />
    <a href={postUrl}><h1 class="title">{title}</h1></a>
    <p class="description">{description}</p>
    <p class="author-date">
      by <a href={`/author/${slugify(author)}/`}> {author}</a> • {
        formatDate(date)
      }
    </p>
  </div>
</article>

<style>
  .card {
  
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    max-width: 400px;
    margin: 16px auto;
    padding: 16px;
  }

  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .container {
    text-align: center;
  }

  .small {
    font-size: 80%;
  }

  .badge {
    display: inline-block;
    justify-content: right;
    background-color: #562bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    font-size: 14px;
  }

  .badge:hover {
    background-color: #260a96a9;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 16px;
    color: #6c757d;
  }

  img {
    height: 300px;
    max-width: 250px;
    object-fit: cover ;
    object-position: center;
    overflow: hidden;
    border-radius: 5px;
    padding: 5%;
  }

  .description {
    text-align: left;
  }
  .author-date {
    text-align: left;
  }
  @media only screen and (min-width: 400px) {
  .card {
    max-width: 300px;
  }
  
}
</style>
