---
import SMedia from "../data/SMedia";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- <footer class="shadow m-4">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex flex-col text-center md:items-center md:justify-between gap-3"
  >
    <div>
      <ul
        class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
      >
        {
          SMedia.map((item) => (
            <li>
              <a
                href={item.url}
                class="mr-4 hover:underline md:mr-6"
                target="_blank"
              >
                <span class="flex-1 ml-3 whitespace-nowrap">{item.name}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <LanguagePicker />
    <div>
      <span class="text-sm sm:text-center text-gray-400"
        >&copy; <span id="copyright"></span>
        <a href="https://npmbytes.com/" class="hover:underline">npmBytes</a>. {t('footer.rights')}
      </span>
    </div>
  </div>
</footer> -->
<hr>
<footer class="w-full flex flex-row justify-center">
  <div class="flex flex-col md:flex-row ">
    <div class="px-32 py-6 lg:py-8  items-center justify-center ml-10 hidden lg:flex ">
      <img src="/images/npmbytes.png" class="w-40 h-40" />
    </div>
    <div class="items-center justify-center grid grid-cols-1 gap-10 px-4 py-6 lg:py-8 md:grid-cols-3 lg:gap-40">
      <div class="flex flex-col">
        <h2 class="uppercase font-bold text-lg">Compagny</h2>
        <ul
          class="flex flex-col flex-wrap mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
        >
          {
            SMedia.map((item) => (
              <li>
                <a
                  href={item.url}
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{item.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="flex flex-col">
        <h2 class="uppercase font-bold text-lg">Help center</h2>
        <ul
          class="flex flex-col flex-wrap mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
        >
          {
            SMedia.map((item) => (
              <li>
                <a
                  href={item.url}
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{item.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="flex flex-col">
        <h2 class="uppercase font-bold text-lg">Social Media</h2>
        <ul
          class="flex flex-col flex-wrap mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
        >
          {
            SMedia.map((item) => (
              <li>
                <a
                  href={item.url}
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{item.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="lg:ml-40 lg:py-8 flex items-center justify-center relative">
      <LanguagePicker />
    <div>
  </div>

    
</footer>
<div class="flex justify-center md:-mt-10">
  <span class="text-sm sm:text-center text-gray-400"
    >&copy; <span id="copyright"></span>
    <a href="https://npmbytes.com/" class="hover:underline">npmBytes</a>. {
      t("footer.rights")
    }
  </span> 
</div>


<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
