---
import SMedia from "../data/SMedia";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---


<footer class="w-full py-5">
  <hr>
  <div class="flex flex-col md:flex-row ">
    <div class="px-20 py-6 lg:py-8  items-center justify-center ml-10 hidden lg:flex ">
      <img src="/images/Logo-Design.png" class="w-40 h-40" />
    </div>
    <div class="m-auto grid grid-cols-2 gap-10 px-4 py-6 lg:py-8 md:grid-cols-3 lg:gap-40">
      <div class="flex flex-col">
        <h2 class="uppercase font-bold text-lg">{t('nav.company')}</h2>
        <ul
          class="flex flex-col flex-wrap mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
        >
              <li>
                <a
                  href=`/${lang}/`
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{t("nav.home")}</span>
                </a>
              </li>
              <li>
                <a
                  href=`/${lang}/blog`
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{t("nav.blog")}</span>
                </a>
              </li>
              <li>
                <a
                  href=`/${lang}/content/privacy-policy`
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{t('content.privacy')}</span>
                </a>
              </li>
              
        </ul>
      </div>
      <div class="flex flex-col">
        <h2 class="uppercase font-bold text-lg">{t('nav.helpcenter')}</h2>
        <ul
          class="flex flex-col flex-wrap mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
        >
              <li>
                <a
                  href="https://discord.gg/3DcDJSN82h"
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{t('nav.discordhelper')}</span>
                </a>
              </li>
              <li>
                <a
                  href="mailto:contact.npmbytes@gmail.com"
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">Mail Support</span>
                </a>
              </li>
        </ul>
      </div>
      <div class="flex flex-col">
        <h2 class="uppercase font-bold text-lg">Social Media</h2>
        <ul
          class="flex flex-col flex-wrap mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
        >
          {
            SMedia.map((item) => (
              <li>
                <a
                  href={item.url}
                  class="mr-4 hover:underline md:mr-6"
                  target="_blank"
                >
                  <span class="flex-1 whitespace-nowrap">{item.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    
  </div>
  <div class="flex justify-center ">
    <LanguagePicker />
  </div>
  <div class="flex justify-center p-4">
    <span class="text-sm sm:text-center text-gray-400"
      >&copy; <span id="copyright"></span>
      <a href="https://npmbytes.com/" class="hover:underline">npmBytes</a>. {
        t("footer.rights")
      }
    </span> 
  </div>
    
</footer>



<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
