---
const { post } = Astro.props;
// utils imports
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { slugify } from "../js/utils";
import { getDaysSince } from "../js/utils";
const { title, image, description, minutesRead, date } = post.frontmatter;
const postUrl = `/${lang}/blog/${slugify(title)}`;

---

<div class="flex flex-col m-auto max-w-xs md:max-w-xs lg:max-w-5xl">
  <article class="rounded w-full my-4 mx-auto p-1 shadow-md transition-all duration-300 ease-in-out hover:shadow-2xl">
    <div class="flex justify-center items-center relative flex-col overflow-hidden text-center rounded border-[#df75ff] border max-w-full min-h-[50vh]">
      <!-- {
        isNewPost && (
          <div class="text-white px-2 py-1 border border-white text-xs z-10 absolute bottom-4 left-4 rounded news-vignette-animation">
            <span>New!</span>
          </div>
        )
      } -->
      <a href={postUrl}>
        <img class="block m-auto max-w-full max-h-full object-contain object-center rounded" src={image.src} alt={image.alt} />
      </a>
    </div>
  </article>
  <div class="max-w-full -mt-4 px-2">
    <div class="flex flex-col md:flex-row">
      
        <a href={postUrl}><p class="text-white cursor-pointer text-2xl font-semibold ease-in-out duration-700 hover:text-[#c5c5c5]">{title}</p></a>
        <div class="flex items-center py-2 md:ml-auto md:px-2">
          <i class="fa-solid fa-book-open-reader" style="color: #6c757d;"></i>
          <p class="text-xs ml-2 md:text-sm text-[#6c757d]">{minutesRead} minutes read</p>
        </div>
    </div>
    <p class="text-[#6c757d] text-sm">{description}</p>
  </div>
</div>

