---
// utils imports
import { slugify, formatDate } from "../js/utils";
import Separation from "./Separation.astro";

const { category, title, author, date, image } = Astro.props;
const categories = category.split(",");

---

<header>
  <div class="container">
    <img src={image.src} alt={image.alt} />
    <p class="title">{title}</p>
    <p class="author-date">
      by <span class="author">{author}</span> • {formatDate(date)}
    </p>
    {
      categories.map((cat) => (
        <small>
          <a href={`/category/${slugify(cat)}/`} class="badge">
            {cat.trim()}
          </a>
        </small>
      ))
    }

    <br /><br />
    <Separation />
    <div class="tools-interaction">

      <div class="share-btn">
        <i class="fa-solid fa-share" style="color: #ffffff;"></i>
      </div>
    </div>
    <Separation />
  </div>
</header>

<style>

  .tools-interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #705cc0;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
  .share-btn:hover {
    background-color: #3b21a1;
    transition: ease-in-out 0.3s;
  }
  .share-btn:active {
    background-color: #444444;
    transition: ease-in-out 0.3s;
  }
  .share-button i {
    font-size: 1.2rem;
  }
  header {
    padding: 20px;
  }

  .container {
    max-width: 150vh;
    margin: 0 auto;
  }

  .small {
    font-size: 80%;
  }

  .badge {
    display: inline-block;
    background-color: #562bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
  }

  .badge:hover {
    background-color: #260a96a9;
    transition: ease-in-out 0.5s;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
  .share-button {
    background-color: gray;
  }

  /*Responsive*/

  @media screen and (max-width: 768px) {
    .author-date {
      font-size: 12px;
    }
  }
</style>
<script>
const shareButton = document.querySelector(".share-btn");
const pageUrl = window.location.href;

shareButton.addEventListener("click", () => {
  navigator.clipboard.writeText(pageUrl);

});
</script>

