---
// component import
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {description} {date} {category} {image} {author} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>

<style>
.post-content {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 100vh; 
  margin: 0 auto;
  word-wrap: break-word;
  overflow-x: auto;
}

</style>
