---
// component import
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";
import EndPost from "../components/EndPost.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image, minutesRead } =
  frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {description} {date} {category} {image} {author} />
  <div class="post-content">
    <div class="content">
      <div class="reading-time">
        <i class="fa-sharp fa-regular fa-clock" style="color: #ffffff;"></i>
        <p>{minutesRead}</p>
      </div>
      <slot />
    </div>

    <div class="sidebar"></div>
  </div>
  <CategoryCloud/>
  <EndPost />
</MainLayout>

<style>
  .post-content {
    display: flex;
    justify-content: center;
  }

  .content {
    width: 100%;
    max-width: 100vh;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-x: auto;
  }

  .reading-time {
    display: flex;
    align-items: center;
    color: white;
  }

  .reading-time i {
    margin-right: 0.5rem;
  }
</style>
